body {
  background-image: url('wall4.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

bg
{
      position: absolute;
      left: 50px;
      top: 110px;



}

bgs
{

      position: absolute;
      left: 33px;
      top: 95px;


}


ws
{     position: absolute;
      left: 470px;
      top: 190px;



}



wrs
{
      position: absolute;
      left: 103px;
      top: 600px;



}


in
{


      position: absolute;
      left: 540px;
      top: 405px;

}


abc
{

      position: absolute;
      left: 510px;
      top: 400px;





}

enter
{
      position: absolute;
      left: 535px;
      top: 500px;



}




w1
{
      position: absolute;
      left: 530px;
      top: 165px;


}


linkb
{
      position: absolute;
      left: 860px;
      top: 600px;


}

home
{
      position: absolute;
      left: 860px;
      top: 600px;

}

message
{
      position: absolute;
      left: 250px;
      top: 210px;

}



wr1{
      position: absolute;
      left: 110px;
      top: 610px;

}
wr2{
      position: absolute;
      left: 149px;
      top: 610px;

}
wr3{
      position: absolute;
      left: 186px;
      top: 610px;

}
wr4{
      position: absolute;
      left: 227px;
      top: 610px;

}
wr5{
      position: absolute;
      left: 264px;
      top: 610px;

}


a{
      position: absolute;
            left: 538px;
            top: 216px;


}

s{
      position: absolute;
            left: 596px;
            top: 220px;
}

t{
      position: absolute;
            left: 640px;
            top: 219px;

}

r{
      position: absolute;
            left: 696px;
            top: 228px;

}

o{
      position: absolute;
            left: 747px;
            top: 217px;

}



n
{
      position: absolute;
            left: 810px;
            top: 219px;
}

aa {

      position: absolute;
            left: 849px;
            top: 219px;
}

u{
      position: absolute;
            left: 894px;
            top: 226px;
}

tt{
      position: absolute;
            left: 940px;
            top: 219px;

}


go
{

    position: absolute;
      left: 470px;
      top: 190px;


}
